    body {
      font-family: Arial, sans-serif;
      background: #121212;
      color: #ffffff;
      text-align: center;
      margin: 0;
    }

	.container-wrapper {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	  gap: 20px;
	  padding: 20px;
	}

	.container {
	  background: #1f1f1f;
	  padding: 20px;
	  border-radius: 10px;
	  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	}

	.wallet-container {
	  margin: 20px auto;
	  width: 90%;
	  max-width: 500px;
	}

    .header {
      background: #1f1f1f;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      border-bottom: 2px solid #00d4ff;
    }

    .header img {
      width: 60px;
    }

    .header-text h2 {
      margin: 0;
      color: #00d4ff;
      font-size: 18px;
    }

    .header-text p {
      margin: 0;
      font-size: 13px;
      color: #ccc;
    }


	.footer {
	  margin-top: 20px;
	  padding: 15px;
	  background: #1f1f1f;
	  color: #888;
	  font-size: 12px;
	  text-align: center;
	  border-top: 1px solid #333;
	}

    .title {
      margin-top: 15px;
      font-size: 20px;
      color: #00ffcc;
    }

    .container {
      margin: 15px auto;
      width: 400px;
      background: #1f1f1f;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    }

    input {
      width: 95%;
      padding: 8px;
      margin: 5px 0;
      border-radius: 5px;
      border: none;
    }

    button {
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: none;
      background: #00d4ff;
      color: black;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background: #00aacc;
    }

    .result {
      margin-top: 10px;
      font-size: 12px;
      color: #00ff99;
      white-space: pre-line;
    }
	
